@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:500,700,900");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  text-align: center;
}

body {
  align-items: center;
  background: var(--pale-blue);
  background-image: url(./images/pattern-background-mobile.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  font-family: "Red Hat Display";
  font-size: 16px;
  height: 100%;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 1px 30px .5px var(--desaturated-blue);
  max-width: 375px;
}

.card-image {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}